DRONE_SERVER_PROTO=http
DRONE_HOST=droneci.example.com
DRONE_GITHUB_CLIENT=YOUR_GITHUB_APP_CLIENT
DRONE_GITHUB_SECRET=YOUR_GITHUB_APP_SECRET
DRONE_SECRET=hard_to_guess
DRONE_RUNNER_CAPACITY=2
DRONE_TLS_AUTOCERT=false
DRONE_LOGS_DEBUG=true
DRONE_LOGS_TEXT=true
DRONE_LOGS_PRETTY=true
MYSQL_DATABASE=dronedb
MYSQL_USER=drone
MYSQL_PASSWORD=randompasswd
DRONE_DATABASE_DRIVER=mysql
DRONE_DATABASE_DATASOURCE=drone:randompasswd@tcp(drone-mysql:3306)/dronedb?parseTime=true