version: '2'

volumes:
  drone_ci_data:
    external: true
  drone_ci_mysql:
    external: true

services:
  drone-mysql:
    image: mysql:5.7
    volumes:
      - drone_ci_mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}

  drone-server:
    image: drone/drone:1.0.0-rc.6
    ports:
      - 80
    volumes:
      - drone_ci_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    depends_on:
      - dronedb
    environment:
      - DRONE_HOST=${DRONE_HOST}
      - DRONE_GITHUB_CLIENT_ID=${DRONE_GITHUB_CLIENT}
      - DRONE_GITHUB_CLIENT_SECRET=${DRONE_GITHUB_SECRET}
      - DRONE_SECRET=${DRONE_SECRET}
      - DRONE_RUNNER_CAPACITY=${DRONE_RUNNER_CAPACITY}
      - DRONE_SERVER_PROTO=${DRONE_SERVER_PROTO}
      - DRONE_TLS_AUTOCERT=${DRONE_TLS_AUTOCERT}
      - DRONE_DATABASE_DRIVER=${DRONE_DATABASE_DRIVER}
      - DRONE_DATABASE_DATASOURCE=${DRONE_DATABASE_DATASOURCE}
      - DRONE_LOGS_DEBUG=${DRONE_LOGS_DEBUG}
      - DRONE_LOGS_TEXT=${DRONE_LOGS_TEXT}
      - DRONE_LOGS_PRETTY=${DRONE_LOGS_PRETTY}